.nav-link.active {
  color: #000 !important;
}

.nav-link.active .underline {
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 40px;
  height: 2px;
  background-color: #7b0000;
  transform: translateX(-50%);
  border-radius: 2px;
}
