.tarjeta{
    display: flex;
    margin-left: 10rem;
    margin-top: 5rem;
    width: 25rem;
    height: 10rem;
    background-color: rgb(1, 11, 44);
    border-radius: 3%;
    border: 0.5px solid gray;

    
}

.texto{
    margin-top: 5%;
    margin-left: 1rem;
}

.titulo{
    font-size: 1.9rem;
}

.image{
    margin-top: 5%;
    margin-left: 1rem;
    height: 25%;
    width: 15%;
    background-color: rgb(204, 250, 204);
    border-radius: 25%;

}

.abajo{
    border: 0.5px solid gray;
    font-size: 1rem;
    
}