.tarjeta{
    display: flex;
    margin-top: 5rem;
    width: 100%;
    height: 10rem;
    background-color: rgb(1, 11, 44);
    border-radius: 3%;
    border: 0.5px solid gray;

    
}

.texto{
    margin-top: 5%;
    margin-left: 1rem;
}

.titulo{
    font-size: 1.9rem;
}

.image{
    margin-top: 5%;
    margin-left: 1rem;
    height: 25%;
    width: 15%;
    border-radius: 25%;

}

.abajo{
    border: 0.5px solid gray;
    font-size: 1rem;
    
}

.Button{
    margin-top: 7%;
    margin-left: -15%;
    color: #fff; 
    background-color: #1e2230; 
  border: 1px solid #3a3f51; 
  border-radius: 20px; /* esquinas redondeadas */
  padding: 8px 18px; /* espacio interno */
  font-size: 14px;

}

.check{
    margin-left: 16rem;
    margin-top: -1.8rem;
}