

.iconos{
    display: flex;
    width: 72.5%;
    justify-content: flex-end;
    gap: 10px;
}
.un{

    width: 2%;
    height: auto;

}

.texto{
    width: 68%;
    margin: auto;

}

.metrika{
    
    width: 100%;
    gap: 10px;

}